body {
    background-color: #f0f0f0;
}

/* Style the DataFrame */
.dataframe {
    font-size: 18px;
    border-collapse: collapse;
    border: 2px solid #333;
}

.dataframe th {
    background-color: #333;
    color: white;
}

.dataframe td {
    border: 1px solid #ddd;
    padding: 8px;
}